@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');

$color-yellow: #EFF535;
$color-white: #F7FBFB;
$color-black: #000000;
$fontSize: 1.2rem;
$fontFamilyLato: "Lato", sans-serif;